@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");
/*------------------value setting-----------------*/
/*--------------element setting--------------------*/
/* line 20, ../sass/frameStylesheet.scss */
.time-line .ver-line {
  background: #78d1f3;
  width: 18px;
  height: 100%;
  position: absolute;
}
/* line 27, ../sass/frameStylesheet.scss */
.time-line .time-blocks {
  padding-top: 50px;
}
/* line 29, ../sass/frameStylesheet.scss */
.time-line .time-blocks .time-block {
  padding-top: 20px;
}
/* line 31, ../sass/frameStylesheet.scss */
.time-line .time-blocks .time-block .time-point {
  background-size: 100% 100%;
  background-color: #78d1f3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
/* line 38, ../sass/frameStylesheet.scss */
.time-line .time-blocks .time-block .time-point:hover {
  border: none;
  background-color: white;
}
/* line 43, ../sass/frameStylesheet.scss */
.time-line .time-blocks .time-block .time-detail {
  display: none;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
}
/* line 44, ../sass/frameStylesheet.scss */
.time-line .time-blocks .time-block .time-detail.show {
  display: block !important;
}
/* line 51, ../sass/frameStylesheet.scss */
.time-line .time-blocks .time-block .time-detail .title {
  cursor: pointer;
  font-size: 20px;
}
/* line 54, ../sass/frameStylesheet.scss */
.time-line .time-blocks .time-block .time-detail .title:hover {
  color: #78d1f3;
}
/* line 58, ../sass/frameStylesheet.scss */
.time-line .time-blocks .time-block .time-detail .close-btn {
  background-color: gainsboro;
  height: 22px;
  width: 22px;
  padding-left: 6px;
  border-radius: 11px;
  cursor: pointer;
  position: absolute;
  top: -9px;
  right: 8px;
}
/* line 68, ../sass/frameStylesheet.scss */
.time-line .time-blocks .time-block .time-detail .close-btn:hover {
  color: crimson;
  font-weight: 600;
}
/* line 73, ../sass/frameStylesheet.scss */
.time-line .time-blocks .time-block .time-detail .description {
  background-color: transparent;
  width: 100%;
  border-color: transparent;
}

/*--------------color setting--------------------*/
/* line 85, ../sass/frameStylesheet.scss */
div.white {
  background-color: white;
}
/* line 88, ../sass/frameStylesheet.scss */
div.blue {
  background-color: #78d1f3;
}
/* line 91, ../sass/frameStylesheet.scss */
div.dark-grey {
  background-color: #5e5e5e;
}
/* line 94, ../sass/frameStylesheet.scss */
div.mid-grey {
  background-color: #e2e1e1;
}
/* line 97, ../sass/frameStylesheet.scss */
div.light-grey {
  background-color: #F2F2F2;
}
/* line 100, ../sass/frameStylesheet.scss */
div.border-light-grey {
  border: 2px solid #F2F2F2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
}
/* line 107, ../sass/frameStylesheet.scss */
div.border-grey {
  border: 2px solid #e2e1e1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
}

/* line 126, ../sass/frameStylesheet.scss */
p.white,
h1.white,
h2.white,
h3.white,
span.white,
a.white,
pre.white,
th.white,
li.white,
input.white {
  color: white;
}
/* line 129, ../sass/frameStylesheet.scss */
p.blue,
h1.blue,
h2.blue,
h3.blue,
span.blue,
a.blue,
pre.blue,
th.blue,
li.blue,
input.blue {
  color: #78d1f3;
}
/* line 132, ../sass/frameStylesheet.scss */
p.light-grey,
h1.light-grey,
h2.light-grey,
h3.light-grey,
span.light-grey,
a.light-grey,
pre.light-grey,
th.light-grey,
li.light-grey,
input.light-grey {
  color: #F2F2F2;
}
/* line 135, ../sass/frameStylesheet.scss */
p.mid-grey,
h1.mid-grey,
h2.mid-grey,
h3.mid-grey,
span.mid-grey,
a.mid-grey,
pre.mid-grey,
th.mid-grey,
li.mid-grey,
input.mid-grey {
  color: #e2e1e1;
}
/* line 138, ../sass/frameStylesheet.scss */
p.dark-grey,
h1.dark-grey,
h2.dark-grey,
h3.dark-grey,
span.dark-grey,
a.dark-grey,
pre.dark-grey,
th.dark-grey,
li.dark-grey,
input.dark-grey {
  color: #5e5e5e;
}
/* line 141, ../sass/frameStylesheet.scss */
p.decoration,
h1.decoration,
h2.decoration,
h3.decoration,
span.decoration,
a.decoration,
pre.decoration,
th.decoration,
li.decoration,
input.decoration {
  text-decoration: underline;
  cursor: pointer;
}
/* line 146, ../sass/frameStylesheet.scss */
p.no-hover-deco:hover,
h1.no-hover-deco:hover,
h2.no-hover-deco:hover,
h3.no-hover-deco:hover,
span.no-hover-deco:hover,
a.no-hover-deco:hover,
pre.no-hover-deco:hover,
th.no-hover-deco:hover,
li.no-hover-deco:hover,
input.no-hover-deco:hover {
  text-decoration: none;
}
/* line 150, ../sass/frameStylesheet.scss */
p.grey-frame,
h1.grey-frame,
h2.grey-frame,
h3.grey-frame,
span.grey-frame,
a.grey-frame,
pre.grey-frame,
th.grey-frame,
li.grey-frame,
input.grey-frame {
  border: 2px solid #e2e1e1;
  border-radius: 3px;
  padding: 10px;
}

/*----------------------------mixin setting-------------------------*/
/* line 208, ../sass/frameStylesheet.scss */
.round-label.sm {
  font-weight: 300;
  margin: auto 10px 14px 0px;
  padding: 2px 12px 2px 12px;
  float: left;
}
/* line 213, ../sass/frameStylesheet.scss */
.round-label.sm:first-child {
  margin-left: 0px;
}
/* line 216, ../sass/frameStylesheet.scss */
.round-label.sm.grey, .psnweb-home-ports-frame .psnweb-home-ports .port .label {
  font-size: 14px;
  background-color: #5e5e5e;
  color: white;
  height: 21px;
  border-radius: 10.5px;
}
/* line 222, ../sass/frameStylesheet.scss */
.round-label.sm.green {
  font-size: 14px;
  background-color: #b3d364;
  color: white;
  height: 21px;
  border-radius: 10.5px;
}
/* line 228, ../sass/frameStylesheet.scss */
.round-label.sm.blue {
  font-size: 14px;
  background-color: #78d1f3;
  color: white;
  height: 21px;
  border-radius: 10.5px;
}

/*---------------------font setting----------------------*/
/* line 238, ../sass/frameStylesheet.scss */
.sm {
  font-size: 14px !important;
  line-height: 120%;
}

/* line 243, ../sass/frameStylesheet.scss */
.mid-sm {
  font-size: 14px;
}

/* line 247, ../sass/frameStylesheet.scss */
.md {
  font-size: 16px;
}

/* line 251, ../sass/frameStylesheet.scss */
.ex-md {
  font-size: 20px;
}

/* line 255, ../sass/frameStylesheet.scss */
.lg {
  font-size: 26px;
}

/* line 259, ../sass/frameStylesheet.scss */
.ex-lg {
  font-size: 30px;
}

@media (max-width: 768px) and (width: 768px) {
  /* line 270, ../sass/frameStylesheet.scss */
  .sm {
    font-size: 10px !important;
    line-height: 120%;
  }

  /* line 274, ../sass/frameStylesheet.scss */
  .mid-sm {
    font-size: 11px;
  }

  /* line 277, ../sass/frameStylesheet.scss */
  .md {
    font-size: 12px;
  }

  /* line 280, ../sass/frameStylesheet.scss */
  .ex-md {
    font-size: 16px;
  }

  /* line 283, ../sass/frameStylesheet.scss */
  .lg {
    font-size: 20px;
  }

  /* line 286, ../sass/frameStylesheet.scss */
  .ex-lg {
    font-size: 26px;
  }
}
/* line 291, ../sass/frameStylesheet.scss */
.ex-bold {
  font-weight: 700;
}

/* line 295, ../sass/frameStylesheet.scss */
.bold {
  font-weight: 600 !important;
}

/* line 299, ../sass/frameStylesheet.scss */
.regular {
  font-weight: 400 !important;
}

/* line 303, ../sass/frameStylesheet.scss */
.light {
  font-weight: 300 !important;
}

/* line 307, ../sass/frameStylesheet.scss */
.italy {
  font-style: italic;
}

/*-----------------------widget setting----------------------------*/
/* line 312, ../sass/frameStylesheet.scss */
html,
body {
  background-color: #F2F2F2 !important;
  font-family: 'Lato', sans-serif !important;
  font-size: 16px !important;
  color: #5e5e5e !important;
  font-weight: 400;
}

/* line 324, ../sass/frameStylesheet.scss */
div.right {
  float: right;
}

/* line 329, ../sass/frameStylesheet.scss */
input[type="text"] {
  border-radius: 3px !important;
  border: 1px solid #e2e1e1;
  box-shadow: none !important;
  outline-width: 0px;
  color: #78d1f3;
}
/* line 336, ../sass/frameStylesheet.scss */
input[type="text"].msg-input {
  border: 1px solid #ccc;
}
/* line 339, ../sass/frameStylesheet.scss */
input[type="text"].frame-input {
  width: 100%;
  padding: 6px 10px;
}
/* line 343, ../sass/frameStylesheet.scss */
input[type="text"].input-sm {
  width: 70%;
}
/* line 346, ../sass/frameStylesheet.scss */
input[type="text"].form-control {
  height: 30px;
}

/* line 351, ../sass/frameStylesheet.scss */
table {
  width: 100%;
  text-align: center;
  border: 2px solid #F2F2F2;
}
/* line 355, ../sass/frameStylesheet.scss */
table th {
  text-align: center;
  border: 2px solid #F2F2F2;
}
/* line 359, ../sass/frameStylesheet.scss */
table td {
  border: 2px solid #F2F2F2;
}
/* line 362, ../sass/frameStylesheet.scss */
table tr {
  line-height: normal;
}

/* line 367, ../sass/frameStylesheet.scss */
textarea {
  color: #78d1f3;
}
/* line 369, ../sass/frameStylesheet.scss */
textarea:focus {
  border-color: #78d1f3;
  outline: none;
  box-shadow: none;
}

/* line 377, ../sass/frameStylesheet.scss */
form button,
form select,
form input[type="text"] {
  height: 30px !important;
  border-width: 1px !important;
}
/* line 383, ../sass/frameStylesheet.scss */
form textarea {
  width: 100%;
  border-radius: 3px;
  border-color: #e2e1e1;
}
/* line 388, ../sass/frameStylesheet.scss */
form .item {
  opacity: 0.4;
}
/* line 389, ../sass/frameStylesheet.scss */
form .item.actived, form .item:hover {
  opacity: 1;
}
/* line 392, ../sass/frameStylesheet.scss */
form .item.actived input, form .item:hover input {
  border-bottom: 1px solid #78d1f3;
}
/* line 397, ../sass/frameStylesheet.scss */
form .item .form-label {
  color: #78d1f3;
}
/* line 403, ../sass/frameStylesheet.scss */
form.visualble .item {
  opacity: 1;
}
/* line 405, ../sass/frameStylesheet.scss */
form.visualble .item input {
  border-bottom: 1px solid #78d1f3 !important;
}

/* line 412, ../sass/frameStylesheet.scss */
label {
  margin-bottom: 0px;
  font-weight: 500;
}
/* line 415, ../sass/frameStylesheet.scss */
label.checkbox {
  margin-left: 15px;
}
/* line 417, ../sass/frameStylesheet.scss */
label.checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../images/ELEMENTS_TopClass-07.png);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}
/* line 427, ../sass/frameStylesheet.scss */
label.checkbox input[type="checkbox"]:checked {
  background-image: url(../images/ELEMENTS_TopClass-20.png);
}
/* line 430, ../sass/frameStylesheet.scss */
label.checkbox input[type="checkbox"]:focus {
  outline: none !important;
}
/* line 434, ../sass/frameStylesheet.scss */
label.checkbox span {
  font-weight: 400;
  font-size: 14px;
}

/* line 441, ../sass/frameStylesheet.scss */
ul,
li,
p {
  list-style: none;
}
/* line 446, ../sass/frameStylesheet.scss */
ul.tri:before,
li.tri:before,
p.tri:before {
  content: "\2023";
}

/* line 454, ../sass/frameStylesheet.scss */
p.center {
  text-align: center;
}
/* line 457, ../sass/frameStylesheet.scss */
p.right {
  text-align: right;
}
/* line 460, ../sass/frameStylesheet.scss */
p.form-label {
  text-align: right;
  margin: 8px 5px;
}

/* line 467, ../sass/frameStylesheet.scss */
a.toright {
  float: right;
  position: relative;
}

/* line 473, ../sass/frameStylesheet.scss */
.selected {
  background-color: beige;
}

/* line 477, ../sass/frameStylesheet.scss */
.progress-block {
  position: relative;
}
/* line 479, ../sass/frameStylesheet.scss */
.progress-block .progress-block-item {
  border-radius: 3px;
  width: 8%;
  height: 20px !important;
  display: inline-block;
}
/* line 484, ../sass/frameStylesheet.scss */
.progress-block .progress-block-item.active {
  background-color: #78d1f3;
}
/* line 488, ../sass/frameStylesheet.scss */
.progress-block .progress-name {
  position: absolute;
  top: -22px;
  left: 15px;
}

/* line 495, ../sass/frameStylesheet.scss */
.nav-pills > li + li {
  margin-left: 0px !important;
}

/* line 500, ../sass/frameStylesheet.scss */
.tab-nav a {
  text-align: center;
}

/* line 505, ../sass/frameStylesheet.scss */
.navigation {
  background-color: #5e5e5e;
}
/* line 507, ../sass/frameStylesheet.scss */
.navigation li > a {
  color: #F2F2F2;
  margin: 10px 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  font-weight: 500;
}
/* line 512, ../sass/frameStylesheet.scss */
.navigation li > a:hover {
  background-color: transparent;
}
/* line 516, ../sass/frameStylesheet.scss */
.navigation li > a span {
  font-weight: 200;
}
/* line 521, ../sass/frameStylesheet.scss */
.navigation li + li a {
  border-left: 1px solid #F2F2F2;
}
/* line 526, ../sass/frameStylesheet.scss */
.navigation li.active > a {
  background-color: transparent;
}

/* line 532, ../sass/frameStylesheet.scss */
button {
  font-weight: 500 !important;
  background-color: transparent;
  border-radius: 5px;
}
/* line 536, ../sass/frameStylesheet.scss */
button.blue {
  color: #78d1f3;
}
/* line 539, ../sass/frameStylesheet.scss */
button.white-bkg {
  color: #78d1f3;
  background-color: white;
}
/* line 543, ../sass/frameStylesheet.scss */
button.blue-bkg {
  background-color: #78d1f3;
  color: white;
}
/* line 547, ../sass/frameStylesheet.scss */
button.dark-grey-bkg {
  background-color: #5e5e5e;
  color: white;
}
/* line 551, ../sass/frameStylesheet.scss */
button.grey-frame {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #e2e1e1;
  border-radius: 3px;
}
/* line 557, ../sass/frameStylesheet.scss */
button.blue-frame {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #78d1f3;
  border-radius: 3px;
  color: #78d1f3;
}
/* line 564, ../sass/frameStylesheet.scss */
button.white-frame {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
}
/* line 571, ../sass/frameStylesheet.scss */
button.fixed {
  width: 90px;
}
/* line 574, ../sass/frameStylesheet.scss */
button.mask-transparent {
  position: relative;
}
/* line 576, ../sass/frameStylesheet.scss */
button.mask-transparent + .mask {
  position: absolute;
  background-color: rgba(30, 177, 235, 0.6);
  top: 0px;
  left: 0px;
  display: none;
}
/* line 584, ../sass/frameStylesheet.scss */
button.mask-full {
  background-color: #78d1f3;
  color: white;
}
/* line 588, ../sass/frameStylesheet.scss */
button.sm-padding {
  padding-left: 5px;
  padding-right: 5px;
}
/* line 592, ../sass/frameStylesheet.scss */
button.img-btn {
  padding-left: 30px;
  position: relative;
}
/* line 595, ../sass/frameStylesheet.scss */
button.img-btn img {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 20px;
  height: 20px;
}

/* line 606, ../sass/frameStylesheet.scss */
.hor-line.lg {
  height: 5px;
  width: 100%;
  background-color: #F2F2F2;
  position: absolute;
}
/* line 612, ../sass/frameStylesheet.scss */
.hor-line.sm {
  height: 3px;
  width: 100%;
  background-color: #F2F2F2;
  position: relative;
}
/* line 618, ../sass/frameStylesheet.scss */
.hor-line.xs {
  height: 1px;
  width: 100%;
  background-color: #e2e1e1;
  position: relative;
}

/* line 627, ../sass/frameStylesheet.scss */
.psnweb-block-title {
  position: relative;
  margin: 40px auto;
  height: 50px;
}
/* line 632, ../sass/frameStylesheet.scss */
.psnweb-block-title div:nth-child(1) {
  height: 3px;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 16px;
}
/* line 640, ../sass/frameStylesheet.scss */
.psnweb-block-title div:nth-child(2) {
  display: inline-block;
  padding: 2px 50px;
  line-height: 1.33;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 17px;
  height: 34px;
  background-color: white;
  cursor: auto;
  position: absolute;
}

/* line 665, ../sass/frameStylesheet.scss */
.btn {
  border-radius: 15px;
  padding: 2px 15px;
  border-width: 3px;
  min-width: 90px;
}
/* line 670, ../sass/frameStylesheet.scss */
.btn.btn-lg {
  border-radius: 17px;
}

/* line 675, ../sass/frameStylesheet.scss */
a {
  cursor: pointer;
}
/* line 677, ../sass/frameStylesheet.scss */
a:hover {
  text-decoration: none;
}

/* line 682, ../sass/frameStylesheet.scss */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/20160808_Collecteat-15.svg) !important;
  background-size: auto 80%;
  background-position: right 6px bottom 3px;
  background-repeat: no-repeat;
  border: 1px solid #78d1f3 !important;
  padding: 0px 18px 0px 10px;
  border-radius: 3px;
  background-color: white;
  font-weight: 400;
}
/* line 695, ../sass/frameStylesheet.scss */
select.grey {
  border: 1px solid #e2e1e1 !important;
  background-color: white;
}
/* line 698, ../sass/frameStylesheet.scss */
select.grey:focus {
  border-color: #78d1f3;
}
/* line 702, ../sass/frameStylesheet.scss */
select.md {
  min-width: 80px;
}

/* line 708, ../sass/frameStylesheet.scss */
.input-box .fuc-btn {
  margin-top: 10px;
}

@media (min-width: 768px) {
  /* line 715, ../sass/frameStylesheet.scss */
  .input-box .fuc-btn {
    margin-top: 0px;
  }
}
/* line 722, ../sass/frameStylesheet.scss */
.img-circle.lg {
  height: 200px;
  width: 200px;
  border: 3px solid white;
  border-radius: 50%;
  /*center here*/
  margin-left: auto;
  margin-right: auto;
}

/* line 729, ../sass/frameStylesheet.scss */
.scroll-field {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

/* line 735, ../sass/frameStylesheet.scss */
.progress-field {
  position: relative;
}
/* line 737, ../sass/frameStylesheet.scss */
.progress-field .progress {
  background-color: transparent;
  border-radius: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid #78d1f3;
}
/* line 745, ../sass/frameStylesheet.scss */
.progress-field .progress-label {
  top: -25px;
  position: absolute;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  color: #78d1f3;
  font-weight: 400;
}

@media (min-width: 992px) {
  /* line 760, ../sass/frameStylesheet.scss */
  .progress-field .progress-label {
    top: -30px;
    font-size: 20px;
  }
}
/* .double-frame {
    padding: 2px;
    div:first-child {
        border: 1px solid $green;
    }
}*/
/* line 773, ../sass/frameStylesheet.scss */
.input-frame {
  background-color: white;
  padding: 5px 10px;
  padding-right: 260px;
  position: relative;
}
/* line 778, ../sass/frameStylesheet.scss */
.input-frame input {
  border: none;
  width: 100%;
  padding: 5px;
}
/* line 783, ../sass/frameStylesheet.scss */
.input-frame button {
  position: absolute;
  right: 10px;
  top: 6px;
}

/* line 790, ../sass/frameStylesheet.scss */
.badge-parent {
  position: relative;
}
/* line 792, ../sass/frameStylesheet.scss */
.badge-parent .badge {
  position: absolute;
  top: -11px;
  right: -13px;
  background-color: white;
  border: 1px solid #78d1f3;
  color: #5e5e5e;
  font-weight: 300;
  height: 20px;
  width: 20px;
  padding: 2px 5px;
}

/* The switch - the box around the slider */
/* line 807, ../sass/frameStylesheet.scss */
.toggle-switch {
  position: relative;
  width: 100px;
  height: 24px;
}

/* Hide default HTML checkbox */
/* line 814, ../sass/frameStylesheet.scss */
.toggle-switch input {
  display: none;
}

/* The slider */
/* line 819, ../sass/frameStylesheet.scss */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 24px;
}

/* line 832, ../sass/frameStylesheet.scss */
.slider:before {
  position: absolute;
  content: "OFF";
  height: 30px;
  width: 45px;
  left: 0px;
  bottom: -2px;
  background-color: #5e5e5e;
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 10px;
  padding: 6px 6px 6px 8px;
}

/* line 847, ../sass/frameStylesheet.scss */
input:checked + .slider {
  background-color: #78d1f3;
}

/* line 851, ../sass/frameStylesheet.scss */
input:focus + .slider {
  box-shadow: 0 0 1px #78d1f3;
}

/* line 855, ../sass/frameStylesheet.scss */
input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
  color: #5e5e5e;
  background-color: white;
  content: 'ON';
  padding: 6px 6px 6px 11px;
}

/*-----------------margin setting--------------------*/
/* line 866, ../sass/frameStylesheet.scss */
.margin-top-sm {
  margin-top: 10px;
}

/* line 870, ../sass/frameStylesheet.scss */
.margin-top-lg {
  margin-top: 40px;
}

/* line 874, ../sass/frameStylesheet.scss */
.margin-top-xs {
  margin-top: 5px;
}

/* line 878, ../sass/frameStylesheet.scss */
.margin-top-md {
  margin-top: 20px;
}

/* line 882, ../sass/frameStylesheet.scss */
.margin-bottom-md {
  margin-bottom: 20px;
}

/* line 886, ../sass/frameStylesheet.scss */
.margin-bottom-lg {
  margin-bottom: 40px;
}

/* line 890, ../sass/frameStylesheet.scss */
.margin-bottom-exlg {
  margin-bottom: 60px;
}

/* line 894, ../sass/frameStylesheet.scss */
.margin-bottom-sm {
  margin-bottom: 10px;
}

/* line 898, ../sass/frameStylesheet.scss */
.margin-bottom-xs {
  margin-bottom: 5px;
}

/* line 902, ../sass/frameStylesheet.scss */
.margin-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 907, ../sass/frameStylesheet.scss */
.margin-xs {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 912, ../sass/frameStylesheet.scss */
.margin-md {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 917, ../sass/frameStylesheet.scss */
.margin-lg {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 922, ../sass/frameStylesheet.scss */
.no-bottom-margin,
.no-margin-bottom {
  margin-bottom: 0px !important;
}

/* line 927, ../sass/frameStylesheet.scss */
.no-margin-left {
  margin-left: 0px !important;
}

/*--------------padding setting----------------------*/
/* line 932, ../sass/frameStylesheet.scss */
.no-padding-left {
  padding-left: 0px !important;
}

/* line 936, ../sass/frameStylesheet.scss */
.no-padding-right {
  padding-right: 0px !important;
}

/* line 940, ../sass/frameStylesheet.scss */
.no-padding {
  padding: 0px !important;
}

/*----------------------------------- center setting----------------------------------*/
/* line 945, ../sass/frameStylesheet.scss */
.content_center {
  text-align: center;
}

/* line 949, ../sass/frameStylesheet.scss */
.whole_center_frame {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
/* line 954, ../sass/frameStylesheet.scss */
.whole_center_frame .whole_center_ele {
  margin: 0;
}

/* line 959, ../sass/frameStylesheet.scss */
.ver-center {
  top: 50%;
  transform: translateY(-50%);
}

/* line 964, ../sass/frameStylesheet.scss */
.hor-center, .time-line .ver-line, .psnweb-block-title div:nth-child(2), .psnweb-home-ports-frame .psnweb-home-ports .port .label, .banner .banner-content .input-frame {
  left: 50%;
  transform: translateX(-50%);
}

/* line 969, ../sass/frameStylesheet.scss */
.whole-center, .banner .banner-content {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/*----------------------------positon setting--------------------------*/
/* line 978, ../sass/frameStylesheet.scss */
.col-2-sm > :first-child {
  margin-right: 5px;
}
/* line 981, ../sass/frameStylesheet.scss */
.col-2-sm > :nth-child(2) {
  margin-left: 5px;
}

/* line 978, ../sass/frameStylesheet.scss */
.col-2-md > :first-child {
  margin-right: 10px;
}
/* line 981, ../sass/frameStylesheet.scss */
.col-2-md > :nth-child(2) {
  margin-left: 10px;
}

/* line 995, ../sass/frameStylesheet.scss */
.btn-col button {
  width: 100%;
}

/* line 1000, ../sass/frameStylesheet.scss */
.right-block {
  float: right;
}

/* line 1004, ../sass/frameStylesheet.scss */
.left-block {
  float: left;
}

/* line 1011, ../sass/frameStylesheet.scss */
div.right,
span.right,
button.right {
  float: right;
}

/* line 1017, ../sass/frameStylesheet.scss */
p.right {
  text-align: right;
}

/* line 1022, ../sass/frameStylesheet.scss */
.center-parent {
  min-height: 100%;
}
/* line 1024, ../sass/frameStylesheet.scss */
.center-parent .ver-center {
  position: absolute;
}

/* line 1029, ../sass/frameStylesheet.scss */
.center-ancestor {
  position: relative;
  display: flex;
}

/*---------------------------display setting----------------------*/
/* line 1035, ../sass/frameStylesheet.scss */
.full-height {
  min-height: 100% !important;
  max-height: none;
  height: 100%;
}

/* line 1041, ../sass/frameStylesheet.scss */
.flex-height {
  min-height: 100% !important;
  max-height: none;
}

/* line 1046, ../sass/frameStylesheet.scss */
.display-flex {
  display: flex;
}

/* line 1050, ../sass/frameStylesheet.scss */
.container-wrap {
  background-color: white;
  padding: 40px;
}

/* line 1055, ../sass/frameStylesheet.scss */
.nor-wrap {
  padding: 0px 20%;
}

@media (max-width: 600px) {
  /* line 1060, ../sass/frameStylesheet.scss */
  .nor-wrap {
    padding: 0px 7%;
  }
}
/* line 1066, ../sass/frameStylesheet.scss */
.dropdown .dropdown-menu {
  border: 1px solid #78d1f3;
  z-index: 200;
  left: auto;
  right: 0px;
}
/* line 1072, ../sass/frameStylesheet.scss */
.dropdown .dropdown-menu li a {
  border-bottom: 1px solid #F2F2F2;
}
/* line 1074, ../sass/frameStylesheet.scss */
.dropdown .dropdown-menu li a .badge {
  margin-left: 26px;
  top: -2px;
  position: relative;
  background-color: #78d1f3;
}
/* line 1082, ../sass/frameStylesheet.scss */
.dropdown .dropdown-menu li:last-child a {
  border-bottom: none;
}

/* line 1090, ../sass/frameStylesheet.scss */
.lv1-wrap {
  padding: 0px 0px;
}

/* line 1094, ../sass/frameStylesheet.scss */
.lv2-wrap {
  padding: 0px 20px;
}

/* line 1098, ../sass/frameStylesheet.scss */
.lv3-wrap {
  padding: 0px 30px;
}

@media (min-width: 768px) {
  /* line 1103, ../sass/frameStylesheet.scss */
  .lv1-wrap {
    padding: 0px 0px;
  }

  /* line 1106, ../sass/frameStylesheet.scss */
  .lv2-wrap {
    padding: 0px 40px;
  }

  /* line 1109, ../sass/frameStylesheet.scss */
  .lv3-wrap {
    padding: 0px 60px;
  }
}
/* line 1114, ../sass/frameStylesheet.scss */
.rlt-pst {
  position: relative;
}

/* line 1118, ../sass/frameStylesheet.scss */
.sm-area {
  width: 40%;
}

/*-----------------------------header setting & footer setting--------------------*/
/* line 1123, ../sass/frameStylesheet.scss */
.psnweb-header {
  position: fixed;
  padding-top: 20px;
  top: 0px;
  z-index: 100;
  transition: transform 0.5s;
  background: white;
  width: 100%;
}
/* line 1129, ../sass/frameStylesheet.scss */
.psnweb-header .logo {
  z-index: 100;
  margin: 0px auto 5px auto;
  transition: transform 1s;
}
/* line 1134, ../sass/frameStylesheet.scss */
.psnweb-header .container {
  position: relative;
}
/* line 1139, ../sass/frameStylesheet.scss */
.psnweb-header .btn {
  text-transform: uppercase;
  padding: 2px 8px;
  font-size: 14px;
  min-width: 30px;
  font-weight: 600 !important;
}
/* line 1146, ../sass/frameStylesheet.scss */
.psnweb-header .header-btns {
  position: absolute;
  display: inline-block;
  float: right;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
/* line 1154, ../sass/frameStylesheet.scss */
.psnweb-header .navbar-default {
  background-color: white !important;
  border: none !important;
}
/* line 1157, ../sass/frameStylesheet.scss */
.psnweb-header .navbar-default.navbar {
  margin-bottom: 0px !important;
}
/* line 1160, ../sass/frameStylesheet.scss */
.psnweb-header .navbar-default .navbar-nav > li > a {
  color: #5e5e5e !important;
}
/* line 1162, ../sass/frameStylesheet.scss */
.psnweb-header .navbar-default .navbar-nav > li > a:hover {
  color: #78d1f3 !important;
}

@media (max-width: 350px) {
  /* line 1175, ../sass/frameStylesheet.scss */
  .psnweb-header .line-2-btns {
    margin-top: 0px;
  }
  /* line 1177, ../sass/frameStylesheet.scss */
  .psnweb-header .line-2-btns .no-border {
    border: none;
  }
}
/* line 1184, ../sass/frameStylesheet.scss */
.psnweb-content {
  width: 100%;
  background-color: #F2F2F2;
}
/* line 1188, ../sass/frameStylesheet.scss */
.psnweb-content #psnweb-info-frame {
  background-color: #e8ecdd;
  position: relative;
}
/* line 1191, ../sass/frameStylesheet.scss */
.psnweb-content #psnweb-info-frame .psnweb-my-photo {
  position: absolute;
  bottom: 0px;
}

/* line 1198, ../sass/frameStylesheet.scss */
.footer {
  z-index: 100;
  padding: 10px 0px;
  vertical-align: middle;
  font-size: 14px;
  background-color: white;
  text-align: center;
  font-weight: 400;
  position: relative;
  text-align: center;
}
/* line 1208, ../sass/frameStylesheet.scss */
.footer a {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  color: #5e5e5e;
}
/* line 1213, ../sass/frameStylesheet.scss */
.footer a:hover, .footer a.active {
  color: white;
}

/*-------------------------------other setting-----------------------*/
/* line 1221, ../sass/frameStylesheet.scss */
.psnweb-home-ports-frame {
  padding: 0px 12%;
}
/* line 1224, ../sass/frameStylesheet.scss */
.psnweb-home-ports-frame .psnweb-home-ports .port {
  margin-bottom: 60px;
  padding-bottom: 35px;
}
/* line 1227, ../sass/frameStylesheet.scss */
.psnweb-home-ports-frame .psnweb-home-ports .port .label {
  font-weight: 300;
  position: absolute;
  margin-top: 15px;
}

/* line 1238, ../sass/frameStylesheet.scss */
.home-page-banner {
  padding-top: 100px;
  height: 60vh;
  min-height: 400px;
}

@media (min-width: 768px) {
  /* line 1245, ../sass/frameStylesheet.scss */
  .home-page-banner {
    padding-top: 50px;
    height: 75vh;
    min-height: 600px;
  }
}
/* line 1252, ../sass/frameStylesheet.scss */
.banner {
  position: relative;
  width: 100%;
  background-color: #78d1f3;
  background-size: cover;
  overflow: hidden;
}
/* line 1257, ../sass/frameStylesheet.scss */
.banner p {
  text-align: center;
}
/* line 1260, ../sass/frameStylesheet.scss */
.banner .banner-content {
  position: absolute;
}
/* line 1263, ../sass/frameStylesheet.scss */
.banner .banner-content .input-frame {
  padding-right: 120px;
  width: 90%;
}
/* line 1270, ../sass/frameStylesheet.scss */
.banner.banner-top {
  height: 110px;
}
/* line 1273, ../sass/frameStylesheet.scss */
.banner.banner-top-carte-list {
  height: 280px;
  padding: 10px;
}
/* line 1276, ../sass/frameStylesheet.scss */
.banner.banner-top-carte-list img {
  width: 200px;
}

/* line 1283, ../sass/frameStylesheet.scss */
.toggle-left {
  background-color: #78d1f3;
  width: 250px;
  display: none;
  position: fixed;
  float: left;
  left: -250px;
  z-index: 90;
  height: 100%;
}

/* line 1294, ../sass/frameStylesheet.scss */
.toggle-show-left {
  display: block;
  position: fixed;
  background-color: #78d1f3;
  top: 150px;
  left: 0px;
  width: 30px;
  height: 90px;
  background-image: url(20160808_Collecteat-21.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  cursor: pointer;
  z-index: 90;
  opacity: 0.5;
}

/* line 1311, ../sass/frameStylesheet.scss */
.toggle-right-content {
  min-height: 100vh;
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
}

@media (min-width: 992px) {
  /* line 1321, ../sass/frameStylesheet.scss */
  .toggle-show-left {
    display: none;
  }

  /* line 1324, ../sass/frameStylesheet.scss */
  .toggle-left {
    display: block;
    left: 0px;
  }

  /* line 1328, ../sass/frameStylesheet.scss */
  .toggle-right-content {
    min-height: 100vh;
    position: relative;
    display: inline-block;
    float: left;
    width: 100%;
    padding-left: 250px;
  }
}
/* line 1339, ../sass/frameStylesheet.scss */
.left-nav {
  display: block;
  left: 0px;
  background-color: #78d1f3;
  width: 250px;
  position: fixed;
  float: left;
  z-index: 90;
  height: 100%;
}

/* line 1350, ../sass/frameStylesheet.scss */
.right-content {
  padding-left: 250px;
  min-height: 100vh;
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
}

/* line 1360, ../sass/frameStylesheet.scss */
.owl-demo .item {
  background: #3fbf79;
  padding: 0px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}

/* line 1371, ../sass/frameStylesheet.scss */
.customNavigation {
  text-align: center;
}

/* line 1376, ../sass/frameStylesheet.scss */
.customNavigation a {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 1386, ../sass/frameStylesheet.scss */
.list-group a.list-group-item {
  position: relative;
  background-color: transparent;
  font-weight: 300;
  color: #F2F2F2;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
}
/* line 1395, ../sass/frameStylesheet.scss */
.list-group a.list-group-item .badge {
  font-weight: 300;
}
/* line 1398, ../sass/frameStylesheet.scss */
.list-group a.list-group-item div {
  display: none;
  position: absolute;
  background-color: white;
  height: 100%;
  width: 5px;
  right: 0px;
  top: 0px;
}
/* line 1407, ../sass/frameStylesheet.scss */
.list-group a.list-group-item.active, .list-group a.list-group-item:hover {
  background-color: transparent;
  font-weight: 500;
  color: white;
}
/* line 1412, ../sass/frameStylesheet.scss */
.list-group a.list-group-item.active div, .list-group a.list-group-item:hover div {
  display: block;
}

/* line 1419, ../sass/frameStylesheet.scss */
.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
/* line 1424, ../sass/frameStylesheet.scss */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

/* line 1430, ../sass/frameStylesheet.scss */
.flip-container .flipper {
  height: 105px;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
/* line 1435, ../sass/frameStylesheet.scss */
.flip-container .flipper .front,
.flip-container .flipper .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 1442, ../sass/frameStylesheet.scss */
.flip-container .flipper .front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}
/* line 1447, ../sass/frameStylesheet.scss */
.flip-container .flipper .back {
  transform: rotateY(180deg);
}

@media (min-width: 600px) {
  /* line 1455, ../sass/frameStylesheet.scss */
  .flip-container .flipper {
    height: 238px;
  }
}
@media (min-width: 768px) {
  /* line 1463, ../sass/frameStylesheet.scss */
  .flip-container .flipper {
    height: 105px;
  }
}
@media (min-width: 992px) {
  /* line 1471, ../sass/frameStylesheet.scss */
  .flip-container .flipper {
    height: 141px;
  }
}
@media (min-width: 1200px) {
  /* line 1479, ../sass/frameStylesheet.scss */
  .flip-container .flipper {
    height: 107.5px;
  }
}
